<div class="container-fluid py-3">
  <div class="row align-items-stretch">
    <div class="col-md-12">
      <div class="card shadow-sm border-0 rounded-1">
        <div
          class="card-body d-flex justify-content-between align-items-center flex-wrap"
        >
          <div class="d-flex align-items-center gap-2 mb-2">
            <label for="machineSelect" class="fw-bold mb-0">Machine:</label>
            <select
              id="machineSelect"
              [(ngModel)]="selectedMachine"
              (change)="changeDevice($event)"
              class="form-select form-select-sm"
            >
              <option
                *ngFor="let machine of machines"
                [value]="machine.deviceId"
              >
                {{ machine.deviceName }}
              </option>
            </select>
          </div>

          <div class="d-flex align-items-center gap-2 mb-2">
            <span class="fw-bold mb-0">Status:</span>
            <span
              class="badge status-badge"
              [ngClass]="{
                'text-bg-success': machineStatus === 'Running',
                'text-bg-warning': machineStatus === 'Idle',
                'text-bg-danger': machineStatus === 'Breakdown',
                'text-bg-primary': machineStatus === 'Off',
              }"
              >{{ machineStatus }}</span
            >
          </div>

          <div class="d-flex align-items-center gap-1 mb-2">
            <button
              class="btn btn-primary btn-sm arrow-btn"
              (click)="changeDate(-1)"
            >
              <mat-icon class="small-arrow">arrow_back</mat-icon>
            </button>

            <input
              type="date"
              [(ngModel)]="selectedDate"
              (change)="changemmainDate($event)"
              [max]="today"
              class="form-control form-control-sm text-center"
            />

            <button
              class="btn btn-primary btn-sm arrow-btn"
              [disabled]="isCurrent"
              (click)="changeDate(1)"
            >
              <mat-icon class="small-arrow">arrow_forward</mat-icon>
            </button>

            <button
              *ngIf="!isCurrent"
              (click)="openModel()"
              class="btn btn-sm btn-warning arrow-btn"
            >
              <mat-icon class="small-download">download</mat-icon>
            </button>
          </div>
          <div class="d-flex">
            <mat-icon
              class="text-danger blink-alarm"
              style="cursor: pointer !important"
              *ngIf="ganttdata?.status?.alerts?.length"
              (click)="alertModel()"
              style="font-size: 20px"
              [class.blink-alarm]="ganttdata?.status?.alerts?.length > 0"
            >
              notifications
            </mat-icon>
            <div class="text-muted small fw-bold mb-2">
              Last Updated:
              <span>{{
                ganttdata?.status?.LTU | date: "dd-MM-yyyy HH:mm:ss"
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-1 g-3 align-items-stretch">
    <div class="col-md-4">
      <div class="card shadow-sm border-0 rounded-1 p-2" style="height: 240px">
        <div class="d-flex h-100 gap-2 mt-2">
          <div
            class="d-flex align-items-center justify-content-center"
            style="width: 50%"
          >
            <div
              echarts
              [options]="gaugeOption"
              (chartInit)="gaugeOptionChartInit($event)"
              style="height: 200px; width: 100%"
            ></div>
          </div>

          <div class="d-flex flex-column gap-2" style="width: 50%">
            <div
              class="metric-card rounded text-black px-2 py-1"
              style="background-color: #f8a9a9"
            >
              <h6 class="mb-1">Availability</h6>
              <h4 class="mb-0">{{ avail ?? 0 }}%</h4>
            </div>

            <div
              class="metric-card rounded text-black px-2 py-1"
              style="background-color: #9ef6ad"
            >
              <h6 class="mb-1">Performance</h6>
              <h4 class="mb-0">{{ performance ?? 0 }}%</h4>
            </div>

            <div
              class="metric-card rounded text-black px-2 py-1"
              style="background-color: #9cbdfc"
            >
              <h6 class="mb-1">Quality</h6>
              <h4 class="mb-0">{{ quality ?? 0 }}%</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card shadow-sm border-0 rounded-1" style="height: 240px">
        <div class="card-body d-flex flex-column">
          <div class="d-flex gap-2 mb-2 flex-wrap">
            <div class="flex-fill bg-light rounded-3 p-2 text-center border">
              <div
                class="d-flex align-items-center justify-content-center gap-1"
              >
                <mat-icon class="text-success" style="font-size: 20px">
                  play_circle
                </mat-icon>
                <span class="text-muted fw-bold small">Operating Time</span>
              </div>
              <div class="fs-6 fw-semibold text-success mt-1">
                {{ ganttdata?.status?.running | dateHoursToTimePipe }} hrs
              </div>
            </div>

            <div class="flex-fill bg-light rounded-3 p-2 text-center border">
              <div
                class="d-flex align-items-center justify-content-center gap-1"
              >
                <mat-icon class="text-warning" style="font-size: 20px">
                  pause_circle
                </mat-icon>
                <span class="text-muted fw-bold small">Downtime</span>
              </div>
              <div class="fs-6 fw-semibold text-warning mt-1">
                {{ ganttdata?.status?.idle | dateHoursToTimePipe }} hrs
              </div>
            </div>

            <div class="flex-fill bg-light rounded-3 p-2 text-center border">
              <div
                class="d-flex align-items-center justify-content-center gap-1"
              >
                <mat-icon class="text-danger" style="font-size: 20px">
                  build_circle
                </mat-icon>
                <span class="text-muted fw-bold small">Breakdown</span>
              </div>
              <div class="fs-6 fw-semibold text-danger mt-1">
                {{ ganttdata?.status?.breakdown | dateHoursToTimePipe }} hrs
              </div>
            </div>

            <div class="flex-fill bg-light rounded-3 p-2 text-center border">
              <div
                class="d-flex align-items-center justify-content-center gap-1"
              >
                <mat-icon class="text-secondary" style="font-size: 20px">
                  power_settings_new
                </mat-icon>
                <span class="text-muted fw-bold small">Off</span>
              </div>
              <div class="fs-6 fw-semibold text-secondary mt-1">
                {{ ganttdata?.status?.off | dateHoursToTimePipe }} hrs
              </div>
            </div>

            <div class="flex-fill bg-light rounded-3 p-2 text-center border">
              <div
                class="d-flex align-items-center justify-content-center gap-1"
              >
                <mat-icon class="text-primary" style="font-size: 20px">
                  precision_manufacturing
                </mat-icon>
                <span class="text-muted fw-bold small">Parts</span>
              </div>
              <div class="fs-6 fw-semibold text-primary mt-1">
                {{ partDta ?? 0 }}
              </div>
            </div>
          </div>

          <div class="flex-grow-1">
            <div
              echarts
              [options]="ganttOption"
              (chartInit)="ganttOptionChartInit($event)"
              style="height: 120px; width: 100%"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-3 mt-1 align-items-stretch">
    <div class="col-md-12">
      <div class="card shadow-sm border-0 rounded-3" style="height: 350px">
        <div class="card-body d-flex flex-column">
          <div class="flex-grow-1">
            <div
              echarts
              [options]="lineOption"
              (chartInit)="lineOptionChartInit($event)"
              style="height: 350px; width: 100%"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #downloadtemplate let-modal>
  <div
    class="model-header d-flex justify-content-between align-items-center p-3"
  >
    <h5 class="modal-title">Export Report</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="form-group d-flex justify-content-between">
      <div>
        <button
          class="btn btn-success"
          type="button"
          (click)="downloadReport('pdf')"
        >
          PDF
        </button>
        &nbsp;
        <button
          class="btn btn-primary"
          type="button"
          (click)="downloadReport('excel')"
        >
          EXCEL
        </button>
      </div>

      <button class="btn btn-danger" type="button" (click)="modal.close()">
        Cancel
      </button>
    </div>
  </div>
</ng-template>
<ng-template #alerttemplate let-modal>
  <div
    class="model-header d-flex justify-content-between align-items-center p-3"
  >
    <h5 class="modal-title">Alarm Details : {{ machinealarmStatus.length }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-bordered table-sm">
      <thead class="table-light">
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Duration</th>
          <th>Status</th>
          <th>Reason</th> 
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let val of machinealarmStatus;let i=index">
          <td>{{ val.value[1] | date: "dd-MM-yyyy HH:mm:ss" }}</td>
          <td>{{ val.value[2] | date: "dd-MM-yyyy HH:mm:ss" }}</td>
          <td>{{ val.value[3]?.split(".")[0] }}</td>
          <td>{{ val.name }}</td>
          <td><select class="form-control" [(ngModel)]="val['reason']" (change)="getdata(val,i)" name="reason{{i}}" id="reason{{i}}">
            <option value="" selected disabled>Select Reason</option>
            <option value="No Power">No Power</option>
            <option value="No Man Power">No Man Power</option>
            <option value="No Internet">No Internet</option>
            <option value="Break">Break</option>
            <option value="Audit">Audit</option>
            <option value="Maintenance">Maintenance</option>
          </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
